{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/forgot_pass_username.css' %}">
    <link rel="icon" href="{% static 'images/ticket logo purple png.png' %}" type="image/icon type">
    <title>Outinz form</title>
</head>
<body>

    <div class="container">
        <div class="title">
            <a href="{% url 'account:login' %}" class="back-to-home">Back To Login Form</a>
            <h2>Outinz Change Password</h2>
            <p class="desc">Let's change your password</p>
        </div>
        <!-- log in form -->
        <form action="" class="changePass-form" method="post">
            {% csrf_token %}
            <div class="inputs-desc">
                <ul>
                    <li>Please enter your details carefully so you don't run into problems later</li>
                    <li>After entering the username, an email containing a link will be emailed to you, and by clicking on it, you can be redirected to the password change form.</li>
                </ul>
            </div>
            <div class="form-title">
                <h4>Enter your details below</h4>
            </div>
            {% if messages %}
            {% for message in messages %}
            <ul class="err-wrapper">
                {{message}}
            </ul>
            {% endfor %}
            {% endif %}
            <div class="form-inputs">
                <div class="changePass-inputs-container">
                    <div class="input-container">
                        <input type="text" name="username" class="username-input" required maxlength="25">
                        <span class="input-ph">user name</span>
                    </div>
                </div>
                <input type="submit" class="submit" value="Change Password">
            </div>    
        </form>
    </div>
</body>
</html>