{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static 'css/purchased-tickets.css' %}">
    <title>Outinz Tickets</title>
</head>
<body>
        <div class="container">
            <div class="top-section">
                <div class="container-title">
                    <a href="{% url 'account:user-profile' user %}">
                        <div class="back-history">
                            <span class="material-symbols-outlined">arrow_back</span>
                            Back To Home
                        </div>
                    </a>
                    <h1 class="title">Outinz Tickets</h1>
                </div>
                <div class="ticket-type">
                    <label for="ticket-type">Filter</label>
                    <select name="ticket-type" id="ticket-type">
                        <option value="All">All</option>
                        <option value="Last-10-tickets">Last 10 tickets</option>
                        <option value="cheapest">cheapest</option>
                    </select>
                </div>
            </div>
            <div class="products">
                <div class="ticket">
                    <div class="top-ticket">
                        <div class="ticket-title-section">
                            <div class="category">party</div>
                            <div class="remain-sits">55</div>
                        </div>
                        <div class="ticket-informations">
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Store Name</h4>
                                <p class="ticket-info">Club</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Capacity</h4>
                                <p class="ticket-info">150</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Ticket Price</h4>
                                <p class="ticket-info">15$</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Start Date</h4>
                                <p class="ticket-info">11/22/2022</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Start Hour</h4>
                                <p class="ticket-info">12 : 00</p>
                            </div>
                        </div>
                        <div class="ticket-desc">
                            <h4 class="desc-title">Ticket Description</h4>
                            <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem unde quam expedita voluptatum maiores consequatur ut nam quisquam cupiditate labore.</p>
                        </div>
                    </div>
                    <div class="bottom-ticket">
                        <button class="show-allDetails">More information and purchase</button>
                    </div>
                </div>
                <div class="ticket">
                    <div class="top-ticket">
                        <div class="ticket-title-section">
                            <div class="category">concert</div>
                            <div class="remain-sits">23</div>
                        </div>
                        <div class="ticket-informations">
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Store Name</h4>
                                <p class="ticket-info">Adele</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Capacity</h4>
                                <p class="ticket-info">220</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Store Name</h4>
                                <p class="ticket-info">Club</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Store Name</h4>
                                <p class="ticket-info">Club</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Start Date</h4>
                                <p class="ticket-info">12/01/2022</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Start Hour</h4>
                                <p class="ticket-info">20 : 00</p>
                            </div>
                        </div>
                        <div class="ticket-desc">
                            <h4 class="desc-title">Ticket Description</h4>
                            <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem unde quam expedita voluptatum maiores consequatur ut nam quisquam cupiditate labore.</p>
                        </div>
                    </div>
                    <div class="bottom-ticket">
                        <button class="show-allDetails">More information and purchase</button>
                    </div>
                </div>
                <div class="ticket">
                    <div class="top-ticket">
                        <div class="ticket-title-section">
                            <div class="category">party</div>
                            <div class="remain-sits">10</div>
                        </div>
                        <div class="ticket-informations">
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Store Name</h4>
                                <p class="ticket-info">AmeClub</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Capacity</h4>
                                <p class="ticket-info">75</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Store Name</h4>
                                <p class="ticket-info">ame Kade</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Store Name</h4>
                                <p class="ticket-info">Club</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Start Date</h4>
                                <p class="ticket-info">07/12/2022</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Start Hour</h4>
                                <p class="ticket-info">18 : 45</p>
                            </div>
                        </div>
                        <div class="ticket-desc">
                            <h4 class="desc-title">Ticket Description</h4>
                            <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem unde quam expedita voluptatum maiores consequatur ut nam quisquam cupiditate labore.</p>
                        </div>
                    </div>
                    <div class="bottom-ticket">
                        <button class="show-allDetails">More information and purchase</button>
                    </div>
                </div>
                <div class="ticket">
                    <div class="top-ticket">
                        <div class="ticket-title-section">
                            <div class="category">concert</div>
                            <div class="remain-sits">80</div>
                        </div>
                        <div class="ticket-informations">
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Store Name</h4>
                                <p class="ticket-info">Taylor Swift</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Capacity</h4>
                                <p class="ticket-info">100</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Store Name</h4>
                                <p class="ticket-info">Club</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Store Name</h4>
                                <p class="ticket-info">Club</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Start Date</h4>
                                <p class="ticket-info">01/15/2023</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Start Hour</h4>
                                <p class="ticket-info">18 : 30</p>
                            </div>
                        </div>
                        <div class="ticket-desc">
                            <h4 class="desc-title">Ticket Description</h4>
                            <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem unde quam expedita voluptatum maiores consequatur ut nam quisquam cupiditate labore.</p>
                        </div>
                    </div>
                    <div class="bottom-ticket">
                        <button class="show-allDetails">More information and purchase</button>
                    </div>
                </div>
                <div class="ticket">
                    <div class="top-ticket">
                        <div class="ticket-title-section">
                            <div class="category">party</div>
                            <div class="remain-sits">20</div>
                        </div>
                        <div class="ticket-informations">
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Store Name</h4>
                                <p class="ticket-info">danceClub</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Capacity</h4>
                                <p class="ticket-info">50</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Store Name</h4>
                                <p class="ticket-info">Club</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Store Name</h4>
                                <p class="ticket-info">Club</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Start Date</h4>
                                <p class="ticket-info">02/11/2023</p>
                            </div>
                            <div class="ticket-information">
                                <h4 class="ticket-info-title">Start Hour</h4>
                                <p class="ticket-info">18 : 30</p>
                            </div>
                        </div>
                        <div class="ticket-desc">
                            <h4 class="desc-title">Ticket Description</h4>
                            <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem unde quam expedita voluptatum maiores consequatur ut nam quisquam cupiditate labore.</p>
                        </div>
                    </div>
                    <div class="bottom-ticket">
                        <button class="show-allDetails">More information and purchase</button>
                    </div>
                </div>

            </div>
        </div>
    <script src="{% static 'js/purchased-tickets.js' %}"></script>
</body>
</html>