@font-face {
    font-family: 'Alfa Slab One';
    src: url('./fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf');
}

@font-face {
    font-family: 'Anton';
    src: url('./fonts/Anton/Anton-Regular.ttf');
}

@font-face {
    font-family: 'Fredoka One';
    src: url('./fonts/Fredoka_One/FredokaOne-Regular.ttf');
}

@font-face {
    font-family: 'Martian Mono';
    src: url('./fonts/Martian_Mono/MartianMono-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Orbitron';
    src: url('./fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Pacifico';
    src: url('./fonts/Pacifico/Pacifico-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Rokkitt';
    src: url('./fonts/Rokkitt/Rokkitt-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Rowdies';
    src: url('./fonts/Rowdies/Rowdies-Regular.ttf');
}

@font-face {
    font-family: 'Secular One';
    src: url('./fonts/Secular_One/SecularOne-Regular.ttf');
}

@font-face {
    font-family: 'Happy Monkey';
    src: url('./fonts/Happy_Monkey/HappyMonkey-Regular.ttf');
}

@font-face {
    font-family: 'MuseoModerno';
    src: url('./fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Radio Canada';
    src: url('./fonts/Radio_Canada/RadioCanada-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Bree Serif';
    src: url('./fonts/Bree_Serif/BreeSerif-Regular.ttf');
}

@font-face {
    font-family: 'Cinzel';
    src: url('./fonts/Cinzel/Cinzel-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Lobster';
    src: url('./fonts/Lobster/Lobster-Regular.ttf');
}

@font-face {
    font-family: 'Righteous';
    src: url('./fonts/Righteous/Righteous-Regular.ttf');
}

@font-face {
    font-family: 'Titillium Web';
    src: url('./fonts/Titillium_Web/TitilliumWeb-Light.ttf');
}

@font-face {
    font-family: 'Varela Round';
    src: url('./fonts/Varela_Round/VarelaRound-Regular.ttf');
}

@font-face {
    font-family: 'Archivo';
    src: url('./fonts/Archivo/Archivo-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Gabriela';
    src: url('./fonts/Gabriela/Gabriela-Regular.ttf');
}

@font-face {
    font-family: 'Merienda';
    src: url('./fonts/Merienda/Merienda-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Gafata';
    src: url('./fonts/Gafata/Gafata-Regular.ttf');
}

@font-face {
    font-family: 'Kanit';
    src: url('./fonts/Kanit/Kanit-Light.ttf');
}

@font-face {
    font-family: 'Shippori Antique B1';
    src: url('./fonts/Shippori_Antique_B1/ShipporiAntiqueB1-Regular.ttf');
}

@font-face {
    font-family: 'M PLUS 1';
    src: url('./fonts/M_PLUS_1/MPLUS1-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Vollkorn SC';
    src: url('./fonts/Vollkorn_SC/VollkornSC-Regular.ttf');
}