@import './fonts.css';


*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
}

body{
    height:120vh;
    display:-ms-grid;
    display:grid;
    place-content: center;
    background:-webkit-gradient(linear , left top, right top , from(#8051ef) , to(#4800ef));
    background:-o-linear-gradient(left , #8051ef , #4800ef);
    background:linear-gradient(90deg , #8051ef , #4800ef)
}

.container{
    background:#fff;
    border-radius:10px;
    width:850px;
    overflow:hidden;
    padding:30px 30px;
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
}

.container .back-to-home{
    padding:8px 12px;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    border:none;
    outline:none;
    cursor:pointer;
    border-radius: 8px;
    text-decoration:none;
    color:#fff;
    background:-o-linear-gradient(45deg , #4700b1 , #7f2aff);
    background:linear-gradient(45deg , #4700b1 , #7f2aff);
    font-family:'Fredoka One', cursive;
    -webkit-transition:0.1s linear;
    -o-transition:0.1s linear;
    transition:0.1s linear;
}

.container .title {
    height:75px;
    margin-bottom:15px;
    padding:0 5px;
}

.container .title h2{
    color:#6210de;
    font-size:1.5rem;
    margin-top:10px;
    font-family: 'Pacifico', cursive;
}

.container .title p.desc{
    color:#6210de8e;
    margin-top:5px;
    font-size:1.2rem;
    font-family: 'Archivo', sans-serif;
} 

.container .logIn-form{
    margin-top:20px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
}

.container .logIn-form .form-title h4{
    font-family: 'Archivo', sans-serif;
    color:#747474;
    font-size:1rem;
    margin-top:10px;
}

.container .logIn-form .form-inputs{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
    gap:15px;
}


.logIn-form .inputs-desc{
    margin:10px;
    width:100%;
    margin:0 auto;
    background:#888;
    padding:5px;
    border-radius:6px;
}

.logIn-form .inputs-desc ul{
    padding:5px 15px;
} 

.logIn-form .inputs-desc li::marker{
    content:'*  ';
    color:#c80c1b;
}

.logIn-form .inputs-desc li{
    color:#fff;
    font-family: 'Archivo', sans-serif;
    margin-top:10px;
}

.container .logIn-form .login-inputs-container input{
    border:1.5px solid #9a9a9a;
    outline:none;
    caret-color: #4700b1;
    color:#6210de;
    font-size:1.25rem;
    letter-spacing:1px;
    padding:5px;
    -webkit-transition:0.15s ease-out;
    -o-transition:0.15s ease-out;
    transition:0.15s ease-out; 
    width:100%;
}

.container .logIn-form .input-container input:focus ~ span.input-ph,
.container .logIn-form .input-container input:valid ~ span.input-ph{
    color:#6210de;
}

.container .logIn-form .input-container p{
    display:none;
    color:#c80c1b;
    margin-top:5px;
}

.container .logIn-form .input-container p.show-err{
    display:block;
}

.container .logIn-form .input-container input:focus,
.container .logIn-form .input-container input:valid{
    border-color:#6210de;
}

.container .logIn-form .input-container span.input-ph{
    position:absolute;
    left:10px;
    top:-10px;
    background:#fff;
    font-weight:500;
    padding: 0 10px;
    font-family: 'Archivo', sans-serif;
    pointer-events: none;
    font-size:0.9rem;
    color:#9a9a9a;
    text-transform:capitalize;
    -webkit-transition:0.15s ease-out;
    -o-transition:0.15s ease-out;
    transition:0.15s ease-out; 
}

.container .logIn-form .input-container input.invalid{
    border-color:#c80c1b;
    color:#ff6e7a;
    caret-color: #ff6f7b;
}

.container .logIn-form .input-container{
    position:relative;
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
}

.container .logIn-form .form-inputs .submit{
    padding:15px 40px;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    border:none;
    margin:25px auto 0;
    cursor:pointer;
    border-radius:25px;
    color:#fff;
    background:-o-linear-gradient(45deg , #4700b1 , #7f2aff);
    background:linear-gradient(45deg , #4700b1 , #7f2aff);
    font-family:'Fredoka One', cursive;
    -webkit-transition:0.1s linear;
    -o-transition:0.1s linear;
    transition:0.1s linear;
}

.container .logIn-form .form-inputs .submit:hover{
    -webkit-transform:scale(1.05);
        -ms-transform:scale(1.05);
            transform:scale(1.05);
}


.logIn-form .form-inputs{
    margin-top:40px;
}

.form-inputs .login-inputs-container{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    gap:40px;
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
    width:80%;
    margin:0 auto;
}

.form-inputs .login-inputs-container .input-container{
    width:100%;
}

.logIn-form .goToRegister{
    margin-top:10px;
    text-align:center;
    color:#8850ff;
    font-size:1.1rem;
    font-family:'Fredoka One', cursive;
}

.logIn-form .goToRegister a{
    color:#4800ef;
    text-decoration:none;
}

.logIn-form .goToRegister a:hover{
    text-decoration:underline;
}

.input-container .show-pass-icons{
    position:absolute;
    right:5px;
    top:3px;;
}

.input-container .show-pass-icons .icon-wrapper{
    padding:2px 5px;
    background:none;
    border:none;
    outline:none;
    cursor:pointer;
}

.input-container .forgot-pass{
    color:#4800ef;
    position:absolute;
    right:0;
    bottom:-25px;
    font-family:'Fredoka One', cursive;
    text-decoration:none;
    transition:color 0.15s ease-in-out;
}

.input-container .forgot-pass:hover{
    color:#6a2aff;
}

.input-container .show-pass-icons .icon-wrapper svg{
    fill:#747474;
    width:1.5rem;
    height:1.5rem;
}

.container .logIn-form .input-container input:focus ~ .show-pass-icons .icon-wrapper svg,
.container .logIn-form .input-container input:valid ~ .show-pass-icons .icon-wrapper svg{
    fill:#6210de;
}

/* errors */
.err-wrapper{
    color:rgb(255, 36, 36);
    list-style: none;
    text-align:center;
    display:flex;
    justify-content: center;
    gap:10px;
    margin-top:10px;
    font-family:'Fredoka One', cursive;
}

/* modal */
.modal{
    position:absolute;
    top:-200%;
    left:50%;
    width:80%;
    transform:translate(-50%,-50%);
    background:#f3f3f3;
    color:green;
    padding:12px 24px;
    font-size:1.25rem;
    border-radius: 12px;
    text-align:center;
    font-family:'Fredoka One', cursive;
    border-radius:12px;
    transition:0.5s ease-in-out;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    box-shadow:0px 0px 30px 5px rgba(0,0,0,0.15)
}

.modal .content{
    padding:5px 7.5px;
}

.modal.active{
    top:25% !important;
}

.modal .content-container{
    position: relative;
    width:100%;
    height:100%;
}

.modal .user-info{
    color:rgb(100, 210, 100);
    font-weight:800;
    word-wrap: break-word;
}

.modal .user-info:nth-child(2){
    display:block;
}

.modal .user-note{
    display:block;
    color:rgb(255, 84, 84);
    font-weight:800;
}

.modal .close-btn{
    background:none;
    border:none;
    outline:none;
    color:#294423;
    cursor:pointer;
    transition: color -0.2s;
    position:absolute;
    font-size:2rem;
    top:-15px;;
    right:-10px;
    font-family:'Fredoka One', cursive;
    transition: color 0.15s;
}

.modal .close-btn:hover{
    color:#61915a;
}


/* media  queries*/
@media (max-width : 900px){
    .container{
        width:650px;
    }
}

@media (max-width : 720px){
    .container{
        width:450px;
    }
    .form-inputs .login-inputs-container{
        width:100%;
    }
    .form-inputs .login-inputs-container input{
        width:100%;
    }
    
    .err-wrapper{
        flex-direction:column;
    }
}

@media (max-width : 510px){
    .container{
        width:400px;
    }
    .form-inputs .login-inputs-container{
        width:100%;
    }
    .form-inputs .login-inputs-container input{
        width:100%;
    }

    .err-wrapper{
        flex-direction:column;
    }
}

@media (max-width : 400px){
    .container{
        width:350px;
    }
    .form-inputs .login-inputs-container{
        width:100%;
    }
    .form-inputs .login-inputs-container input{
        width:100%;
    }

    .err-wrapper{
        flex-direction:column;
    }
}