@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
}


::-webkit-scrollbar{
    width:12px;
    background:#ecf1f0;
}

::-webkit-scrollbar-thumb{
    width:10px;
    background:rgb(20, 20, 20);
    border-radius:20px;
}

*td,
*th{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.loader{
    position:absolute;
    z-index:99;
    background:#ecf1f0;
    width:100%;
    height:100%;
    -webkit-transition:opacity 1s ease-out;
    -o-transition:opacity 1s ease-out;
    transition:opacity 1s ease-out;
}

.loader .loader-inner{
    position:absolute;
    top:40%;
    left:47%;
    -webkit-transform : translate(-50%,-50%);
        -ms-transform : translate(-50%,-50%);
            transform : translate(-50%,-50%);
    width:100px;
    height:100px;
    padding:10px;
}

.loader span{
    position:absolute;
    width:40%;
    height:40%;
    border-radius: 50%;
    -webkit-animation: loading 2s ease infinite;
            animation: loading 2s ease infinite;
}

.loader.hidden{
    opacity:0;
}

@-webkit-keyframes loading {
    0% , 100%{
        -webkit-transform:translate(0);
                transform:translate(0);
    }
    
    25%{
        -webkit-transform:translate(80px);
                transform:translate(80px);
    }
    50%{
        -webkit-transform:translate(80px , 80px);
                transform:translate(80px , 80px);
    }
    75%{
        -webkit-transform:translate(0 , 80px);
                transform:translate(0 , 80px);
    }
}

@keyframes loading {
    0% , 100%{
        -webkit-transform:translate(0);
                transform:translate(0);
    }
    
    25%{
        -webkit-transform:translate(80px);
                transform:translate(80px);
    }
    50%{
        -webkit-transform:translate(80px , 80px);
                transform:translate(80px , 80px);
    }
    75%{
        -webkit-transform:translate(0 , 80px);
                transform:translate(0 , 80px);
    }
}


.loader span:nth-child(1){
    background:rgb(20, 20, 20);
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}

.loader span:nth-child(2){
    background:rgb(134, 134, 134);
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}

.loader span:nth-child(3){
    background:rgb(20, 20, 20);
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
}

.loader span:nth-child(4){
    background:rgb(134, 134, 134);
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
}

.container {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
    gap:15px;
    height:100vh;
    background:rgba(243, 243, 243, 0.704);
}

.container .userPanel-menu{
    height:100vh;
    width:100px;
    min-width:-webkit-fit-content;
    min-width:-moz-fit-content;
    min-width:fit-content;
    padding:20px;
    background:rgb(29, 29, 29);
}

.container .userPanel-menu ul li{
    width:100%;
    color:#fff;
    font-size:1rem;
    padding:10px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    cursor:pointer;
    gap:10px;
    font-family: 'Righteous', cursive;
    border-radius:5px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}

.container .userPanel-menu ul li i{
    color:#fff;
    font-size:1rem;
}

.container .userPanel-menu ul li svg{
    fill:#fff;
    width:1.25rem;
    pointer-events:none;
}

.container .userPanel-menu ul .bottom-menu li svg{
    fill:rgb(255, 46, 46);
    width:1.25rem;
}

.container .userPanel-menu ul li:hover{
    background:rgba(184, 184, 184, 0.582);
}
.container .userPanel-menu ul li.active{
    background:rgba(112, 112, 112, 0.582);
}

.container .userPanel-menu ul{
    list-style:none;
    height:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}

.container .userPanel-menu ul .top-menu{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
    gap:10px;
}

.container .userPanel-menu ul .top-menu li{
    color:#fff;
}

.container .userPanel-menu ul .bottom-menu{
    border-top:1px solid rgb(136, 136, 136);
    width:100%;
    padding:5px 0px;
}

.container .userPanel-menu ul .bottom-menu li span{
    color:rgb(196, 0, 0);
    pointer-events: none;
}


/* content */

.container .content{
    width:calc(100% - 15px);
    height:100%;
    padding:0 10px;
}

.container .content .sections{
    color:rgb(139, 139, 139);
    position:relative;
    top:2.5px;
    left:-10px;
}

.container .content .sections a{
    color:rgba(0, 0, 0, 0.8);
    text-decoration:none;
    -webkit-transition:color 0.15s ease-out;
    -o-transition:color 0.15s ease-out;
    transition:color 0.15s ease-out;
}

.container .content .sections a:last-child{
    color:rgb(139, 139, 139);
}

.container .content .sections a:hover:not(.container .sections a:last-child){
    color:rgba(0, 0, 0, 0.623);
}

.content .user-purchased-ticket-sc table{
    overflow:auto;
    overflow-x:scroll;
}

/* user profile section */

.container .content .user-profile{
    border-radius:12px;
    padding:10px;
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(3,1fr);
    -ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-rows: repeat(4,1fr);
    gap:10px;
    height:95%;
}

.container .content .user-profile > *:nth-child(1){
    -ms-grid-row:1;
    -ms-grid-column:1;
}

.container .content .user-profile > *:nth-child(2){
    -ms-grid-row:1;
    -ms-grid-column:3;
}

.container .content .user-profile > *:nth-child(3){
    -ms-grid-row:1;
    -ms-grid-column:5;
}

.container .content .user-profile > *:nth-child(4){
    -ms-grid-row:3;
    -ms-grid-column:1;
}

.container .content .user-profile > *:nth-child(5){
    -ms-grid-row:3;
    -ms-grid-column:3;
}

.container .content .user-profile > *:nth-child(6){
    -ms-grid-row:3;
    -ms-grid-column:5;
}

.container .content .user-profile > *:nth-child(7){
    -ms-grid-row:5;
    -ms-grid-column:1;
}

.container .content .user-profile > *:nth-child(8){
    -ms-grid-row:5;
    -ms-grid-column:3;
}

.container .content .user-profile > *:nth-child(9){
    -ms-grid-row:5;
    -ms-grid-column:5;
}

.container .content .user-profile > *:nth-child(10){
    -ms-grid-row:7;
    -ms-grid-column:1;
}

.container .content .user-profile > *:nth-child(11){
    -ms-grid-row:7;
    -ms-grid-column:3;
}

.container .content .user-profile > *:nth-child(12){
    -ms-grid-row:7;
    -ms-grid-column:5;
}

.container .content .user-profile .user-change-informations{
    -ms-grid-column:1;
    -ms-grid-column-span:2;
    grid-column:1/3;
    grid-row: 1/-1;
    background:#fff;
    -webkit-box-shadow: 0 0 100px 5px rgba(0,0,0,.2);
            box-shadow: 0 0 100px 5px rgba(0,0,0,.2);
    border-radius:22px;
    padding:10px 15px 20px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
    gap:40px;
}

.container .content .user-change-informations .user-informations-title{
    color:rgb(20, 20, 20);
    font-family: 'MuseoModerno', cursive;

}

.user-profile .user-informations-inputs {
    width:100%;
    position:relative;
    top:-10px;
}

.user-profile .user-informations-inputs .tips{
    background:rgb(57, 57, 57);
    color:#fff;
    text-align:center;
    padding:10px;
    border-radius:12px;
    margin-bottom:50px;
    list-style:none;
}

.user-profile .user-informations-inputs .tips .tip{
    padding:2px 0;
    font-family: 'Radio Canada', sans-serif;
}

.user-profile .user-informations-inputs .inputs{
    margin-top:40px;
}

.user-change-informations .user-informations-inputs .inputs{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:1fr 40px 1fr;
    grid-template-columns:repeat(2,1fr);
    -ms-grid-rows:1fr 40px 1fr 40px 1fr;
    grid-template-rows:repeat(3,1fr);
    gap:40px;
}

.user-change-informations .user-informations-inputs .inputs > *:nth-child(1){
    -ms-grid-row:1;
    -ms-grid-column:1;
}

.user-change-informations .user-informations-inputs .inputs > *:nth-child(2){
    -ms-grid-row:1;
    -ms-grid-column:3;
}

.user-change-informations .user-informations-inputs .inputs > *:nth-child(3){
    -ms-grid-row:3;
    -ms-grid-column:1;
}

.user-change-informations .user-informations-inputs .inputs > *:nth-child(4){
    -ms-grid-row:3;
    -ms-grid-column:3;
}

.user-change-informations .user-informations-inputs .inputs > *:nth-child(5){
    -ms-grid-row:5;
    -ms-grid-column:1;
}

.user-change-informations .user-informations-inputs .inputs > *:nth-child(6){
    -ms-grid-row:5;
    -ms-grid-column:3;
}

.user-change-informations .user-informations-inputs .inputs .input{
    position:relative;
}

.user-profile .user-change-informations .user-informations-inputs .inputs .input input{
    width:100%;
    border-radius:5px;
    border:1px solid rgba(0,0,0,0.2);
    background:none;
    outline:none;
    padding:8px ;
    -webkit-transition:0.15s linear;
    -o-transition:0.15s linear;
    transition:0.15s linear;
}

.user-profile .user-change-informations .user-informations-inputs .inputs .input input:focus{
    border:1px solid rgba(0,0,0,0.7);
}


.user-profile .user-change-informations .user-informations-inputs .input .show-pass{
    position:absolute;
    right:5px;
    top:5px;
    cursor:pointer;
}

.user-profile .user-change-informations .user-informations-inputs .input .show-pass .material-symbols-outlined{
    color:rgba(0,0,0,0.2);
    display:inline-block;
    pointer-events: none;
}

.user-informations-inputs .inputs .input input::-webkit-input-placeholder{
    color:rgba(0, 0, 0, 0.7);
}

.user-informations-inputs .inputs .input input::-moz-placeholder{
    color:rgba(0, 0, 0, 0.7);
}

.user-informations-inputs .inputs .input input:-ms-input-placeholder{
    color:rgba(0, 0, 0, 0.7);
}

.user-informations-inputs .inputs .input input::-ms-input-placeholder{
    color:rgba(0, 0, 0, 0.7);
}

.user-informations-inputs .inputs .input input::placeholder{
    color:rgba(0, 0, 0, 0.7);
}

.user-profile .user-change-informations .user-informations-inputs .inputs .input .input-title{
    position:absolute;
    top:-25px;
    left:0;
    color:rgba(26, 26, 26, 0.76);
    font-family: 'Radio Canada', sans-serif;
}

.user-profile .user-change-informations .user-informations-inputs .submit{
    background:#000;
    color:#fff;
    padding:10px 20px;
    border:none;
    cursor:pointer;
    border-radius:5px;
    -webkit-transition:0.15s ease-out;
    -o-transition:0.15s ease-out;
    transition:0.15s ease-out;
}

.user-profile .user-change-informations .user-informations-inputs .submit:hover{
    background:rgb(52, 52, 52);
}

.user-profile .user-change-informations .success-modal,
.user-profile .user-change-informations .err-modal{
    background:#f0f0f0;
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
    font-family: 'Radio Canada', sans-serif;
    position:absolute;
    left:50%;
    top:-200%;
    -webkit-transform:translate(-50% , -50%);
        -ms-transform:translate(-50% , -50%);
            transform:translate(-50% , -50%);
    -webkit-transition:0.5s ease-out;
    -o-transition:0.5s ease-out;
    transition:0.5s ease-out;
    padding:12px 24px;
    border-radius:12px;
    margin:10px auto;
    font-size:1.5rem;
    -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.2);
            box-shadow:inset 0 0 0 1px rgba(0,0,0,0.2);
    overflow:hidden;
}

.user-profile .user-change-informations .success-modal .success, 
.user-profile .user-change-informations .err-modal .err{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    gap:10px;
}
 
.user-profile .user-change-informations .success-modal .message,
.user-profile .user-change-informations .err-modal .message{
    text-transform:capitalize;
    text-align: center;
}
.user-profile .user-change-informations .err-modal .err .message{
    color:rgb(255, 78, 78);
}

.user-profile .user-change-informations .success-modal .success .message{
    color:#54c441;
}

.user-profile .user-change-informations .success-modal.active,
.user-profile .user-change-informations .err-modal.active{
    top:50%;
}

.user-profile .user-change-informations .success-modal img,
.user-profile .user-change-informations .err-modal img{
    height:auto;
    width:200px;
    border-radius:8px;
}

.user-profile .user-change-informations .success-modal button,
.user-profile .user-change-informations .err-modal button{
    padding:12px 24px;
    width:200px;
    border-radius:8px;
    -webkit-transition:background-color 0.1s ease-in-out;
    -o-transition:background-color 0.1s ease-in-out;
    transition:background-color 0.1s ease-in-out;
    border:none;
    cursor:pointer;
    color:#fefefe;
}

.user-profile .user-change-informations .success-modal .success button{
    background:#54c441;
}

.user-profile .user-change-informations .success-modal .success button:hover{
    background:#3f9430;
}

.user-profile .user-change-informations .err-modal .err button{
    background:rgb(255, 78, 78);
}

.user-profile .user-change-informations .err-modal .err button:hover{
    background:rgb(250, 32, 32);
}


/* user information  */
.content .user-profile .user-informations {
    background:rgb(57, 57, 57);
    padding:10px 20px;
    border-radius:5px;
    grid-column:3/-1;
    -ms-grid-row:1;
    -ms-grid-row-span:2;
    grid-row:1/3;
    border-radius:22px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}

.content .user-profile .user-informations .user-profile-icon{
    background:#fff;
    width:100px;
    height:100px;
    border-radius:50%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    pointer-events:none;
    margin:0 auto;
}

.content .user-profile .user-informations .user-profile-icon svg{
    width:3.5rem;
    fill:rgb(57, 57, 57);
}

.content .user-profile .user-informations .user-info{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    padding:10px 0;
    color:#ffffff7d;
}

.content .user-profile .user-informations .user-info .userInfo{
    color:#fff;
}

.content .user-profile .user-informations  .user-info:not(.content .user-informations .user-info:last-child){
    border-bottom:1px solid #fefefe;
}


/* purchased ticket shortcut */
.content .user-profile .user-purchased-ticket-sc{
    background:#fff;
    grid-column:3/-1;
    grid-row:3/-1;
    border-radius:22px;
    overflow:hidden;
}

.content .user-profile .user-purchased-ticket-sc table{
    width:100%;
    text-align:center;
}

.content .user-profile .user-purchased-ticket-sc table thead th{
    border-right:2px solid rgb(57, 57, 57);
    outline:2px solid rgb(57, 57, 57);
    color:#ffffff;
    font-family: 'Righteous', cursive;
    font-size:1.1rem;
    padding:2.5px;
}

.content .user-profile .user-purchased-ticket-sc table thead{
    background:rgb(57, 57, 57);
    width:100%;
}

.content .user-profile .user-purchased-ticket-sc table tbody td{
    color:#414141e3;
    padding:7.5px 0;
    font-family: 'Righteous', cursive;
}

.content .user-profile .user-purchased-ticket-sc table tbody tr:hover{
    background:#cfcfcfc4;
}

/* purchased tickets Section */

.content .user-purchased-tickets{
    background:#fff;
    border-radius:22px;
    margin-top:25px;
    overflow-x:hidden;
    overflow-y:scroll;
    height:90%;
}

.content .user-purchased-tickets table{
    border-radius:22px;
    width:100%;
    text-align:center;
}

.content .user-purchased-tickets table thead th{
    border-right:2px solid rgb(57, 57, 57);
    outline:2px solid rgb(57, 57, 57);
    color:#ffffff;
    font-family: 'Radio Canada', sans-serif;
    -webkit-user-select:none;
    -moz-user-select:none;
     -ms-user-select:none;
         user-select:none;
    font-size:1.1rem;
    padding:2.5px;
}

.content .user-purchased-tickets table thead{
    background:rgb(57, 57, 57);
    width:100%;
}

.content .user-purchased-tickets table tbody td{
    color:#414141e3;
    padding:7.5px 0;
    font-family: 'Radio Canada', sans-serif;
    -webkit-transition:0.15s ease-out;
    -o-transition:0.15s ease-out;
    transition:0.15s ease-out;
}

.content .user-purchased-tickets table tbody td.ticket-status-td{
    color:rgb(255, 0, 0) !important;
}

.content .user-purchased-tickets table tbody tr:hover{
    background:#cfcfcfc4;
}

.content .user-purchased-tickets table tbody td .show-ticket-btn{
    background:rgb(57, 57, 57);
    color:#fff;
    border:none;
    padding:10px;
    cursor: pointer;
    border-radius:15px;
    font-family: 'Radio Canada', sans-serif;
    -webkit-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}

.content .user-purchased-tickets table tbody td .show-ticket-btn:hover{
    background:rgb(84, 84, 84);
}

/* user shopping cart section */
.content .user-shopping-cart{
    background:#fff;
    border-radius:22px;
    margin-top:25px;
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
    padding:15px 30px;
    position:relative;
}

.content .user-shopping-cart .user-shopping-cart-title{
    padding:20px 5px;
    font-size:1.5rem;
    font-family: 'Radio Canada', sans-serif;
    color:rgb(57, 57, 57);;
}

.content .user-shopping-cart .user-shopping-cart-content{ 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
    padding:10px 0;
    font-family:'Radio Canada', sans-serif;
    gap:20px;
}

/* user shopping cart left content */
.content .user-shopping-cart .user-shopping-cart-content .left-content{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
    -ms-flex-preferred-size:30%;
        flex-basis:30%;
    height:100%;
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .price-title{
    color:rgb(134, 134, 134);
    font-size:0.75rem;
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .all-price{
    margin-top:20px;
    -webkit-user-select:none;
    -moz-user-select:none;
     -ms-user-select:none;
         user-select:none;
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .allPrice{
    color:#000;
    font-size:1.5rem;
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .allPrice span{
    color:rgb(134, 134, 134);
    font-size:0.9rem;
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .purchase-tips{
    margin-top:8px;
    background:rgb(41, 41, 41);
    padding:10px 5px;
    border-radius:10px;
    -webkit-user-select:none;
    -moz-user-select:none;
     -ms-user-select:none;
         user-select:none;
    text-align:center;
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .purchase-tips .purchase-tips-title{
    color:#fefefe;
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .purchase-tips ul{
    margin-top:10px;
    list-style:none;
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .purchase-tips ul li span{
    color:rgb(134, 134, 134);
}

.content .user-shopping-cart .user-shopping-cart-content .left-content .purchase-tips ul li{
    padding:3px 0;
    color:rgb(134, 134, 134);
    text-align:center;
    font-size:0.9rem;
}

.container .content{
    overflow-y: scroll;
}

/* shopping card details */
.content .user-shopping-cart .user-shopping-cart-content .right-content{
    -ms-flex-preferred-size:fit-content;
        flex-basis:fit-content;
    width:100%;
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    margin-top: -20px;
}

.content .user-shopping-cart .user-shopping-cart-content .right-content .carts{
    -ms-flex-preferred-size:20%;
        flex-basis:20%;
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
            -webkit-user-select:none;
            -moz-user-select:none;
             -ms-user-select:none;
                 user-select:none;
    padding:15px 0; 
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail:not(.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail:last-child){
    border-bottom:1px solid rgba(134, 134, 134, 0.36);
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-titles{
    color:rgb(134, 134, 134);
    width:25%;
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-titles .ticket-title{
    color:#000;
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-date{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    font-size:1rem;
    width:40%;
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-date span , 
.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-price span , 
.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-delete{
    color:rgb(189, 189, 189);
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count , 
.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-delete{
    margin-bottom:-5px;
}

.user-shopping-cart .user-shopping-cart-content .right-content .ticket-details{
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 10px 0;
}

.user-shopping-cart .user-shopping-cart-content .right-content .ticket-details .ticket-count-sec{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
    width:55%;
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-price{
    width:auto;
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    gap:25px;
    width:25%;
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count .ticket-counter{
    background:none;
    border:none;
    width:30px;
    font-size:1.1rem;
    outline:none;
    overflow-x:visible !important;
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count input:disabled{
    color:#000;
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count .ticket-counter::-webkit-outer-spin-button,
.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count .ticket-counter::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count input[type=number] {
  -moz-appearance: textfield;
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count .ticket-count-icon{
    color:rgb(189, 189, 189);
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-delete,
.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count .ticket-count-icon{
    cursor:pointer;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;
    padding:5px 10px;
    border-radius:10px;
    -webkit-transition:0.15s ease-out;
    -o-transition:0.15s ease-out;
    transition:0.15s ease-out;
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count .increase-icon{
    margin-left:-15px;
}

.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-delete:hover,
.user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count .ticket-count-icon:hover{
    background:rgba(217, 217, 217, 0.393);
}

.user-shopping-cart .user-shopping-cart-content .right-content .btns{
    text-align:right;
    margin-top:25px;
    -ms-flex-preferred-size:20%;
        flex-basis:20%;
}
.user-shopping-cart .user-shopping-cart-content .right-content .btns a{
    text-decoration:none;
}

.user-shopping-cart .user-shopping-cart-content .right-content .btns button{
    padding:10px 20px;
    border:none;
    background:#000;
    border-radius:5px;
    color:#fff;
    cursor:pointer;
    -webkit-transition:0.15s ease-out;
    -o-transition:0.15s ease-out;
    transition:0.15s ease-out;
}

.user-shopping-cart .user-shopping-cart-content .right-content .btns .back-to-store{
    background:#dadada;
    color:rgba(0, 0, 0, 0.579);
    margin-right:10px;
}

.user-shopping-cart .user-shopping-cart-content .right-content .btns .back-to-store:hover{
    background:#c5c5c5;
}

.user-shopping-cart .user-shopping-cart-content .right-content .btns .purchase:hover{
    background:rgba(0, 0, 0, 0.8);
}

.content .user-profile .user-purchased-ticket-sc table tr:nth-child(even),
.content .user-purchased-tickets table tr:nth-child(even){
    background:rgb(225, 225, 225);
}

/* logout modal */
.logout-modal{
    position:absolute;
    width:450px;
    top:-200%;
    left:50%;
    background:#fff;
    transform:translate(-50%);
    box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    display:flex;
    flex-direction:column;
    gap:5px;
    overflow: hidden;
    transition:0.4s ease-out;
}

.logout-modal.active{
    top:35%;
}

.logout-modal .content{
    padding:15px 10px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.logout-modal .content h3{
    text-transform: capitalize;
    font-family:'Radio Canada', sans-serif;
}

.logout-modal .content p{
    font-family:'Radio Canada', sans-serif;
    color:rgba(0, 0, 0, 0.634);
    
}

.logout-modal .btns{
    background:rgb(191, 191, 191);
    width:100%;
    padding:5px 10px;
    text-align:right;
}

.logout-modal button{
    padding:10px 18px;
    border-radius:5px;
    border:none;
    outline:none;
    cursor:pointer;
    color:#fff;
    font-family:'Radio Canada', sans-serif;
    transition:background-color 0.15s ease-in-out;
}

.logout-modal .cancel-btn{
    background:none;
}

.logout-modal .cancel-btn:hover{
    background:#cdcdcd;
}

.logout-modal .logout-btn{
    background:rgb(252, 50, 50);
}

.logout-modal .logout-btn:hover{
    background:rgb(213, 45, 45);
}

/* media queries */

@media screen and (max-width: 1100px) and (min-width: 970px){
    .content .user-purchased-tickets table thead th{
        font-size:0.75rem;
    }

    .content .user-purchased-tickets table tbody td{
        font-size:0.6rem;
    }

    .container .user-infos .user-info{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
    }

    .container .content .user-profile{
        -ms-grid-rows:500px 1fr 1fr;
        grid-template-rows:500px 1fr 1fr;
    }

    .container .content .user-profile .user-change-informations{
        grid-column:1/-1;
        -ms-grid-row:1;
        -ms-grid-row-span:3;
        grid-row:1/4;
    }
    .content .user-profile .user-informations{
        -ms-grid-column:1;
        -ms-grid-column-span:1;
        grid-column:1/2;
        grid-row:4/-1;
    }

    .content .user-profile .user-purchased-ticket-sc{
        grid-column:2/-1;
        grid-row:4/-1;
    }

    .user-profile .user-informations-inputs .tips .tip{
        font-size:0.9rem;
    }

}

@media screen and (max-width: 970px) and (min-width: 880px){
    .content .user-purchased-tickets table thead th{
        font-size:0.75rem;
    }

    .content .user-purchased-tickets table tbody td{
        font-size:0.6rem;
    }

    .content .user-purchased-tickets table thead th{
        font-size:0.75rem;
    }

    .content .user-purchased-tickets table tbody td .show-ticket-btn{
        padding:2.5px;
    }

    .container .user-infos .user-info{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
    }

    .container .content .user-profile{
        -ms-grid-rows:500px 1fr 1fr;
        grid-template-rows:500px 1fr 1fr;
    }


    .container .content .user-profile .user-change-informations{
        grid-column:1/-1;
        -ms-grid-row:1;
        -ms-grid-row-span:3;
        grid-row:1/4;
    }
    .content .user-profile .user-informations{
        -ms-grid-column:1;
        -ms-grid-column-span:1;
        grid-column:1/2;
        grid-row:4/-1;
    }

    .content .user-profile .user-purchased-ticket-sc{
        grid-column:2/-1;
        grid-row:4/-1;
    }

    .user-profile .user-informations-inputs .tips .tip{
        font-size:0.9rem;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-titles {  
        width: 25%;
    }

    
    .user-profile .user-change-informations .modal{
        font-size: 1.25rem;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count {
        gap: 10px;
        width: 20%;
    }

}

@media screen and (max-width: 880px) and (min-width: 590px){
    .content .user-profile .user-purchased-ticket-sc table tbody td{
        font-size:0.6rem;
    }

    .content .user-profile .user-purchased-ticket-sc table thead th{
        font-size:0.75rem;
    }

    .user-profile .user-informations-inputs{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        gap:10px;
    }
    
    .content .user-purchased-tickets table tbody td .show-ticket-btn{
        padding:2.5px;
    }

    .user-change-informations .user-informations-inputs .inputs{
        -ms-grid-rows:repeat(4,1fr);
        grid-template-rows:repeat(4,1fr);
        margin-top:-30px;
    }
    
    
    .content .user-purchased-tickets table thead th{
        font-size:0.75rem;
    }
    .content .user-purchased-tickets table tbody td{
        font-size:0.5rem;
    }

    .container .user-infos .user-info{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
    }

    .container .content .user-profile{
        -ms-grid-rows:350px 1fr;
        grid-template-rows:350px 1fr;
    }

    .container .content .user-profile .user-change-informations{
        grid-column:1/-1;
        grid-row:2/-1;
    }
    .content .user-profile .user-informations{
        -ms-grid-column:1;
        -ms-grid-column-span:1;
        grid-column:1/2;
        -ms-grid-row:1;
        -ms-grid-row-span:1;
        grid-row:1/2;
    }

    .content .user-profile .user-purchased-ticket-sc{
        grid-column:2/-1;
        -ms-grid-row:1;
        -ms-grid-row-span:1;
        grid-row:1/2;
    }

    .user-profile .user-informations-inputs .tips .tip{
        font-size:0.75rem;
    }

    .user-change-informations .user-informations-inputs .inputs .input{
        grid-column:1/-1;
    }

    .container .userPanel-menu ul li p{
        display:none;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-titles {  
        width: 100%;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-details {  
        width: 100%;
        margin-top: -10px;
    }
    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail {  
        -webkit-box-orient:vertical;  
        -webkit-box-direction:normal;  
            -ms-flex-direction:column;  
                flex-direction:column;
        font-size: 0.8rem;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count {
        gap: 5px;
        width: 20%;
    }
    
    .user-profile .user-change-informations .modal{
        font-size: 1rem;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-date {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        font-size: 0.8rem;
      }

}

@media screen and (max-width: 590px) {
    .container{
        -webkit-box-orient:vertical;
        -webkit-box-direction:reverse;
            -ms-flex-direction:column-reverse;
                flex-direction:column-reverse;
    }
    
    .content .user-profile .user-purchased-ticket-sc table tbody td{
        font-size:0.6rem;
    }

    .content .user-profile .user-purchased-ticket-sc table thead th{
        font-size:0.75rem;
    }
    
    .content .user-purchased-tickets {
        overflow:auto;
    }

    .content .user-purchased-tickets table thead th{
        font-size:0.75rem;
    }
    .content .user-purchased-tickets table tbody td{
        font-size:0.5rem;
    }

    .content .user-purchased-tickets table tbody td .show-ticket-btn{
        padding:2.5px;
    }

    .container .content{
        margin:0 auto;
    }

    .container .userPanel-menu{
        height:-webkit-fit-content;
        height:-moz-fit-content;
        height:fit-content;
        width:100%;
        min-width:unset;
    }

    .container .userPanel-menu ul{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
    }

    .container .userPanel-menu ul .top-menu{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        width:100%;
    }

    .container .userPanel-menu ul .bottom-menu{
        border:none;
        width:-webkit-fit-content;
        width:-moz-fit-content;
        width:fit-content;
    }

    .container .userPanel-menu ul li{
        width:-webkit-fit-content;
        width:-moz-fit-content;
        width:fit-content;
    }

    .user-profile .user-informations-inputs{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        gap:10px;
    }

    .user-change-informations .user-informations-inputs .inputs{
        -ms-grid-rows:repeat(4,1fr);
        grid-template-rows:repeat(4,1fr);
        margin-top:-30px;
    }

    .content .user-purchased-tickets table thead th{
        font-size:0.75rem;
    }
    .content .user-purchased-tickets table tbody td{
        font-size:0.5rem;
    }

    .container .user-infos .user-info{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
        font-size:0.8rem;
    }
    .container .user-infos{
        -ms-flex-preferred-size:60%;
            flex-basis:60%;
    }

    .container .content .user-profile{
        -ms-grid-rows:175px 175px 1fr;
        grid-template-rows:175px 175px 1fr;
    }

    .container .content .user-profile .user-change-informations{
        grid-column:1/-1;
        grid-row:3/-1;
    }
    .content .user-profile .user-informations{
        grid-column:1/-1;
        -ms-grid-row:1;
        -ms-grid-row-span:1;
        grid-row:1/2;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
    }

    .content .user-profile .user-purchased-ticket-sc{
        grid-column:1/-1;
        -ms-grid-row:2;
        -ms-grid-row-span:1;
        grid-row:2/3;
    }

    .user-profile .user-informations-inputs .tips .tip{
        font-size:0.75rem;
    }

    .user-profile .user-informations-inputs .tips{
        margin-top:-20px;
    }

    .user-change-informations .user-informations-inputs .inputs .input{
        grid-column:1/-1;
    }

    .container .userPanel-menu ul li p{
        display:block;
        font-size:0.8rem;
    }

    .container .userPanel-menu ul .log-out p{
        display:none;
    }

    .container .userPanel-menu ul li{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-titles {  
        width: 100%;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-details {  
        width: 100%;
        margin-top: -10px;
    }
    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail {  
        -webkit-box-orient:vertical;  
        -webkit-box-direction:normal;  
            -ms-flex-direction:column;  
                flex-direction:column;
        font-size: 0.8rem;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count {
        gap: 2px;
        width: 20%;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count .ticket-count-icon , 
    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-delete{
        background-color:rgba(230, 229, 229, 0.296);
    }

    .container .userPanel-menu ul li{
        text-align:center;
    }

    .user-profile .user-change-informations .modal{
        font-size: 1rem;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-date {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        font-size: 0.8rem;
      }

      .logout-modal{
        width:370px;
      }
}

@media screen and (max-width: 400px) {
    .container{
        -webkit-box-orient:vertical;
        -webkit-box-direction:reverse;
            -ms-flex-direction:column-reverse;
                flex-direction:column-reverse;
    }
    
    .content .user-profile .user-purchased-ticket-sc table tbody td{
        font-size:0.6rem;
    }

    .content .user-profile .user-purchased-ticket-sc table thead th{
        font-size:0.75rem;
    }
    
    .content .user-purchased-tickets {
        overflow:auto;
    }

    .content .user-purchased-tickets table thead th{
        font-size:0.75rem;
    }
    .content .user-purchased-tickets table tbody td{
        font-size:0.5rem;
    }

    .content .user-purchased-tickets table tbody td .show-ticket-btn{
        padding:2.5px;
    }

    .container .content{
        margin:0 auto;
    }

    .container .userPanel-menu{
        height:-webkit-fit-content;
        height:-moz-fit-content;
        height:fit-content;
        width:100%;
        min-width:unset;
    }

    .container .userPanel-menu ul{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
    }

    .container .userPanel-menu ul .top-menu{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        width:100%;
    }

    .container .userPanel-menu ul .bottom-menu{
        border:none;
        width:-webkit-fit-content;
        width:-moz-fit-content;
        width:fit-content;
    }

    .container .userPanel-menu ul li{
        width:-webkit-fit-content;
        width:-moz-fit-content;
        width:fit-content;
    }

    .user-profile .user-informations-inputs{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        gap:10px;
    }

    .user-change-informations .user-informations-inputs .inputs{
        -ms-grid-rows:repeat(4,1fr);
        grid-template-rows:repeat(4,1fr);
        margin-top:-30px;
    }

    .content .user-purchased-tickets table thead th{
        font-size:0.75rem;
    }
    .content .user-purchased-tickets table tbody td{
        font-size:0.5rem;
    }

    .content .user-profile .user-informations .user-info{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
        -webkit-box-align:start;
            -ms-flex-align:start;
                align-items:start;
        font-size:0.8rem;
        gap:2px;
        padding:5px;
    }
    .container .user-infos{
        -ms-flex-preferred-size:60%;
            flex-basis:60%;
    }

    .container .content .user-profile{
        -ms-grid-rows:175px 175px 1fr;
        grid-template-rows:175px 175px 1fr;
    }

    .container .content .user-profile .user-change-informations{
        grid-column:1/-1;
        grid-row:3/-1;
    }

    .content .user-profile .user-informations .user-profile-icon{
        height:85px;
    }

    .content .user-profile .user-informations .user-profile-icon svg{
        width:2.5rem;
    }

    .content .user-profile .user-informations{
        grid-column:1/-1;
        -ms-grid-row:1;
        -ms-grid-row-span:1;
        grid-row:1/2;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        gap: 5px;
        padding: 5px 10px;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .btns{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align:start;
            -ms-flex-align:start;
                align-items:start;
        gap:10px;
    }

    .content .user-profile .user-purchased-ticket-sc{
        grid-column:1/-1;
        -ms-grid-row:2;
        -ms-grid-row-span:1;
        grid-row:2/3;
    }

    .user-profile .user-informations-inputs .tips .tip{
        font-size:0.75rem;
    }

    .user-profile .user-informations-inputs .tips{
        margin-top:-20px;
    }

    .user-change-informations .user-informations-inputs .inputs .input{
        grid-column:1/-1;
    }

    .container .userPanel-menu ul li p{
        display:block;
        font-size:0.8rem;
    }

    .container .userPanel-menu ul .log-out p{
        display:none;
    }

    .container .userPanel-menu ul li{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-titles {  
        width: 100%;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-details {  
        width: 100%;
        margin-top: -10px;
    }
    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail {  
        -webkit-box-orient:vertical;  
        -webkit-box-direction:normal;  
            -ms-flex-direction:column;  
                flex-direction:column;
        font-size: 0.8rem;
        gap:5px;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count {
        gap: 2px;
        width: 20%;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .btns button{  
        width: 100%;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .btns a{  
        width: 50%;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count .ticket-count-icon , 
    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-delete{
        background-color:rgba(230, 229, 229, 0.296);
    }

    .container .userPanel-menu ul li{
        text-align:center;
    }

    .user-profile .user-change-informations .modal{
        font-size: 1rem;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-date {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        font-size: 0.8rem;
      }

      .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-details{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        gap: 10px;
        padding-bottom:0;
      }
      
      .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-details .ticket-count-sec{
        width:100%;
        padding:0px 5px;
      }
      .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-details .ticket-date{
        width:60%;
      }
      .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count{
        gap:10px;
      }

      .logout-modal{
        width:85% !important;
      }

      .logout-modal .content h3{
        font-size:1rem;
      }

      .logout-modal .content p{
        font-size:0.9rem;
      }
}

@media screen and (max-width: 335px) {
    .container{
        -webkit-box-orient:vertical;
        -webkit-box-direction:reverse;
            -ms-flex-direction:column-reverse;
                flex-direction:column-reverse;
    }
    
    .content .user-profile .user-purchased-ticket-sc table tbody td{
        font-size:0.6rem;
    }

    .content .user-profile .user-purchased-ticket-sc table thead th{
        font-size:0.75rem;
    }
    
    .content .user-purchased-tickets {
        overflow:auto;
    }

    .content .user-purchased-tickets table thead th{
        font-size:0.75rem;
    }
    .content .user-purchased-tickets table tbody td{
        font-size:0.5rem;
    }

    .content .user-purchased-tickets table tbody td .show-ticket-btn{
        padding:2.5px;
    }

    .container .content{
        margin:0 auto;
    }

    .container .userPanel-menu{
        height:-webkit-fit-content;
        height:-moz-fit-content;
        height:fit-content;
        width:100%;
        min-width:unset;
    }

    .container .userPanel-menu ul{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
    }

    .container .userPanel-menu ul .top-menu{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        width:100%;
    }

    .container .userPanel-menu ul .bottom-menu{
        border:none;
        width:-webkit-fit-content;
        width:-moz-fit-content;
        width:fit-content;
    }

    .container .userPanel-menu ul li{
        width:-webkit-fit-content;
        width:-moz-fit-content;
        width:fit-content;
    }

    .user-profile .user-informations-inputs{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        gap:10px;
    }

    .user-change-informations .user-informations-inputs .inputs{
        -ms-grid-rows:repeat(4,1fr);
        grid-template-rows:repeat(4,1fr);
        margin-top:-30px;
    }

    .content .user-purchased-tickets table thead th{
        font-size:0.75rem;
    }
    .content .user-purchased-tickets table tbody td{
        font-size:0.5rem;
    }

    .content .user-profile .user-informations .user-info{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
        -webkit-box-align:start;
            -ms-flex-align:start;
                align-items:start;
        font-size:0.8rem;
        padding:5px;
    }
    .container .user-infos{
        -ms-flex-preferred-size:90%;
            flex-basis:90%;
    }

    .container .content .user-profile{
        -ms-grid-rows:175px 175px 1fr;
        grid-template-rows:175px 175px 1fr;
    }

    .container .content .user-profile .user-change-informations{
        grid-column:1/-1;
        grid-row:3/-1;
    }

    .content .user-profile .user-informations .user-profile-icon{
        display:none;
    }

    .content .user-profile .user-informations{
        grid-column:1/-1;
        -ms-grid-row:1;
        -ms-grid-row-span:1;
        grid-row:1/2;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        padding: 5px 10px;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .btns{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align:start;
            -ms-flex-align:start;
                align-items:start;
        gap:10px;
    }

    .content .user-profile .user-purchased-ticket-sc{
        grid-column:1/-1;
        -ms-grid-row:2;
        -ms-grid-row-span:1;
        grid-row:2/3;
    }

    .user-profile .user-informations-inputs .tips .tip{
        font-size:0.75rem;
    }

    .user-profile .user-informations-inputs .tips{
        margin-top:-20px;
    }

    .user-change-informations .user-informations-inputs .inputs .input{
        grid-column:1/-1;
    }

    .container .userPanel-menu ul li p{
        display:block;
        font-size:0.8rem;
    }

    .container .userPanel-menu ul .log-out p{
        display:none;
    }

    .container .userPanel-menu ul li{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-titles {  
        width: 100%;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .btns button{  
        width: 100%;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .btns a{  
        width: 50%;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-details {  
        width: 100%;
        margin-top: -10px;
    }
    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail {  
        -webkit-box-orient:vertical;  
        -webkit-box-direction:normal;  
            -ms-flex-direction:column;  
                flex-direction:column;
        font-size: 0.8rem;
        gap:5px;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count {
        gap: 2px;
        width: 20%;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count .ticket-count-icon , 
    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-delete{
        background-color:rgba(230, 229, 229, 0.296);
    }

    .container .userPanel-menu ul li{
        text-align:center;
    }

    .user-profile .user-change-informations .modal{
        font-size: 1rem;
    }

    .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-date {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        font-size: 0.8rem;
      }

      .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-details{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        gap: 10px;
        padding-bottom:0;
      }
      
      .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-details .ticket-count-sec{
        width:100%;
        padding:0px 5px;
      }
      .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-details .ticket-date{
        width:60%;
      }
      .user-shopping-cart .user-shopping-cart-content .right-content .cart-detail .ticket-count{
        gap:10px;
      }
      
      .logout-modal{
        width:90% !important;
      }

      .logout-modal .content h3{
        font-size:1rem;
      }

      .logout-modal .content p{
        font-size:0.9rem;
      }
}