{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
    <link rel="icon" href="{% static 'images/ticket logo purple png.png' %}" type="image/icon type">
    <title>Outinz form</title>
</head>
<body>
    <div class="container">
        <h1>404</h1>
        <div class="content">
            <h2 class="title">Page not found</h2>
            <p class="desc">We're sorry .the page you requested could not be found. please Go back</p>
            <button class="btn">Go Back</button>
        </div>
    </div>
</body>
</html>